.coinList {
  width: 100%;
  &Title {
    text-transform: uppercase;
    font-weight: 800;
    width: 100%;
    color: $primaryColor;
    padding: 10px 20px;
    margin-bottom: 5px;
  }
}

.coinsNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  p {
    text-align: center;
    font-size: 2rem;
    color: #fff;
  }
}
