@import "../../styles/variables.scss";

.dashboard {
  height: 100%;
  padding: 10px 0;
  .row {
    &:first-child {
      height: 40%;
    }
    &:nth-child(2) {
      height: 60%;
    }
    padding: 10px 52px;
    .col {
      padding: 0 10px;
      .card {
        height: 100%;
        background-color: $secondaryBg;
        padding: 0 40px;
      }
    }
  }
}
