@import-normalize;
@import "~antd/dist/antd.css";
@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;900&display=swap");

body {
  overflow-x: hidden;
  font-family: "Cousine", monospace !important;
}

// TODO: Should I change the .module.scss to just .scss ?
.ant-card-body {
  height: 100%;
  padding: 10px;
}

.ant-typography {
  @media screen and (max-width: 1024px) {
    font-size: 20px !important;
  }
}
