.row {
  height: 100%;
  width: 100%;
  .col {
    text-align: center;
    .spinner {
      font-size: 4rem;
      color: #fff;
    }
    .underTitle {
      padding-top: 40px;
      font-size: 2rem;
      color: #fff !important;
    }
  }
}
