@import "../../variables.scss";

.header {
  background-color: $secondaryBg;
  .title {
    font-size: 32px;
    color: $primaryColor;
  }
  .address {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
}
