@import "../../styles/abstract/variables";

.sider {
  background-color: $secondaryBg;
  color: $secondaryColor;
  &Menu {
    background: inherit !important;
    padding-top: 40px !important;
    li {
      margin-bottom: 40px !important;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  .admin {
    font-size: 40px;
    padding-left: 15px;
  }
}

.icon {
  font-size: 40px;
}
