@import "../../styles/abstract/variables";

.header {
  background-color: $secondaryBg;
  .title {
    color: $primaryColor;
    font-size: 32px;
    font-weight: 800;
    @media screen and (max-width: 425px) {
      font-size: 20px;
    }
  }
  .address {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
}
