@import "../../App.scss";

.homepage {
  color: #fff;
  height: 100%;
  .row {
    min-height: 50%;
    padding: 12px 52px;
    .col {
      padding: 0 8px;
      .card {
        height: 100%;
        background-color: $secondaryBg;
        & > div {
          height: 100%;
          padding: 10px;
        }
      }
    }
  }
}
